html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 90px;
  border: 1px solid black;
}